---
---

@font-face {
  font-family: 'tenforce';
  src: url("https://tenforce.github.io/tracker-mockup/assets/fonts/tenforce.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-gold: #AC840B;
  --color-blue: #00C6FF;
  --color-red: #E61616;
}

body {
  font-family: 'Source Sans Pro', 'tenforce', Arial, sans-serif;
  font-kerning: normal;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-feature-settings: "kern" 1,"liga" 0;
  font-feature-settings: "kern" 1,"liga" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;

  background-color: #343434;
}

.bg-black-light {
  background-color: #1E1E1E;
}

.text-grey {
  color: #818181;
}
