---
---

@font-face {
  font-family: 'tenforce';
  src: url("https://tenforce.github.io/tracker-mockup/assets/fonts/tenforce.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Source Sans Pro', 'tenforce', Arial, sans-serif;
  font-kerning: normal;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-feature-settings: "kern" 1,"liga" 0;
  font-feature-settings: "kern" 1,"liga" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;

  background-color: #343434;
}






.bg-black-dark {
  background-color: #1E1E1E;
}
.bg-black-light {
  background-color: #1E1E1E;
}
.bg-white-darker {
  background-color: #F7F7F7;
}

.text-grey {
  color: #818181;
}


// show placeholder for contenteditable fields
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  font-style: italic;
  color: #818181;
  display: block; /* For Firefox */
}


.overlay-body {
  transition: all 0.1s ease-in-out;
}







@keyframes loading {
  0% { background-position: 0 0; }
  100% { background-position: 80px 0; }
}
.animate-loading::before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0; right: 0; bottom: 0; left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: 80px 80px;
  background-image: linear-gradient(
    135deg,
    rgba(0,0,0,.1) 0%,
    rgba(0,0,0,.1) 20%,
    transparent 40%,
    rgba(0,0,0,.1) 50%,
    rgba(0,0,0,.1) 70%,
    transparent 90%,
    rgba(0,0,0,.1) 100%
  );
  animation: loading 3s linear infinite;
}








.blurred {
  > *:not(.not-blurred) {
    filter: blur(3px);
    pointer-events: none;
  }
}
