<div class="kpi-bar flex flex-col sm:flex-row items-center px-2 bg-black-light">
  <!-- KPI FOR LOOP-->
  {% for kpi in site.data.kpis.data %}
    <div class="flex flex-1 flex-col sm:flex-grow w-full m-2">
      <!-- TOP ROW-->
      <div class="flex flex-row items-center mt-2 mx-2 px-1 whitespace-no-wrap">
        <div class="flex-1 h8 text-grey">
          <span class="font-normal">{{kpi.icon}}</span> <span class="">{{kpi.title}}</span>
        </div>
        <div class="text-right h8 text-grey">
          <span class="text-red">{{kpi.risk}}</span><span>{{kpi.total}}</span>
        </div>
      </div>

      <!-- BOTTOM ROW-->
      <!-- I build the string here while I'm taking the red % from the data file-->
      {% assign beforekpi = kpi.red | minus: 10 %}
      {% assign afterkpi = kpi.red | plus: 10 %}

      {% assign backgroundStyle = "background: linear-gradient(to right, rgba(230,22,22,1) 0%, rgba(230,22,22,1) "
      | append: {{beforekpi}}
      | append: "%, rgba(157,84,111,1) "
      | append: {{kpi.red}}
      | append: "%, rgba(157,84,111,1) "
      | append: {{kpi.red}}
      | append: "%, rgba(0,198,255,1) "
      | append: {{afterkpi}}
      | append: "%, rgba(0,198,255,1) 100%);" %}

      <div class="flex-grow text-white">
        <div class="h-2 rounded-full m-2 mt-1" style="{{oldbackgroundStyle}} {{backgroundStyle}}">
        </div>
      </div>
    </div>
  {% endfor %}
</div>
