<header class="header-bar flex flex-col lg:flex-row items-stretch items-center py-1 px-2 whitespace-no-wrap">

  <div class="flex flex-1 items-center p-2">
    <a href="#" class="text-white text-3xl no-underline">ܓ</a>
  </div>

  <div class="flex flex-col sm:flex-row items-start sm:items-center justify-end p-2">
    <div class="m-2">
      <span class="mr-2 text-sm text-grey uppercase">updated weeks ago</span>
      <button class="btn btn--go btn--small-caps"><span class="font-normal"></span> Update Assets</button>
    </div>

    <div class="m-2">
      {% include components/selector.html selectorData=",,, Overview;,,, Risk Analisys" expanded="true" singleselect="true" selectedIndexes="2" %}
    </div>

    <div class="m-2">
      <div class="mr-2 inline-action primary text-sm uppercase font-bold">Nick De Jaeger</div>
      <div class="inline-action primary"><sup class="font-bold">23</sup></div>
    </div>
  </div>

</header>
