<header class="flex flex-col lg:flex-row items-stretch items-center py-1 px-2 whitespace-no-wrap">

  <div class="flex flex-1 items-center p-2">
    <a href="#" class="text-white text-3xl no-underline">ܓ</a>
  </div>

  <div class="flex flex-col sm:flex-row items-start sm:items-center justify-end p-2">
    <div class="m-2">
      <span class="mr-2 text-sm text-grey uppercase">updated weeks ago</span>
      <button class="btn btn--go btn--small-caps"><span class="font-normal"></span> Update Assets</button>
    </div>

    <div class="m-2">
      <div class="selector selector--singleselect selector--expanded JS_selector">
        <div class="selector__item JS_selectorItem">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--field selector__blockPart--small-caps"> Overview</div>
          </div>
        </div>
        <div class="selector__itemSeperator"></div>
        <div class="selector__item selector__item--selected JS_selectorItem">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--field selector__blockPart--small-caps"> Risk Analisys</div>
          </div>
        </div>
      </div>
    </div>

    <div class="m-2">
      <div class="mr-2 inline-action primary text-sm uppercase font-bold">Nick De Jaeger</div>
      <div class="inline-action primary"><sup class="font-bold">23</sup></div>
    </div>
  </div>

</header>
