<div class="c-tool-bar flex flex-col lg:flex-row items-stretch items-center pt-2 px-2 whitespace-no-wrap">

  <div class="flex flex-1 items-center p-2">
    <button class="toolbox-button toolbox-button--go toolbox-button--small-caps m-2 JS_create-button"><span class="font-normal"></span> Add New Asset</button>
  </div>
  <div class="flex-grow"></div>
  <div class="flex flex-col sm:flex-row items-start sm:items-center justify-end p-2">
    <div class="my-2 mr-1 JS_filterSelector">
      {% include components/toolbox-selector.html toolboxSelectorData=",,,All" singleselect="true" selectedIndexes="1"  popupId="#modal-filter" %}
    </div>
    <div class="my-2 mr-2">
      <input type="text" placeholder="filter" value="">
    </div>
  </div>

  <div class="flex flex-col sm:flex-row items-start sm:items-center justify-end p-2">
    <div class="m-2">
      <span class="mr-2 text-sm text-grey uppercase">Sort By</span>
    </div>

    <div class="m-2">
      {% include components/toolbox-selector.html toolboxSelectorData=",,,Date Added;,,,Risk Level" expanded="true" singleselect="true" selectedIndexes="2" %}
    </div>
  </div>
</div>
