{% include include-in-foot.html %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script src="{{ site.baseurl }}/scripts/create-opener.js"></script>
<script src="{{ site.baseurl }}/scripts/comments.js"></script>
<script src="{{ site.baseurl }}/scripts/data-type-selector.js"></script>
<script src="{{ site.baseurl }}/scripts/details-opener.js"></script>
<script src="{{ site.baseurl }}/scripts/filter-selector.js"></script>
<script src="{{ site.baseurl }}/scripts/overlay.js"></script>
<script src="{{ site.baseurl }}/scripts/slide-animation.js"></script>
<script src="{{ site.baseurl }}/scripts/squares.js"></script>
<script src="{{ site.baseurl }}/scripts/view-selector.js"></script>
