
{% assign jsLocation = "https://tenforce.github.io/tracker-mockup" %}

{% if site.url contains "localhost" %}
  {% assign jsLocation = "http://localhost:4000" %}
{% endif %}

<script src="{{ jsLocation }}/scripts/components/field.js"></script>
<script src="{{ jsLocation }}/scripts/components/overlay.js"></script>
<script src="{{ jsLocation }}/scripts/components/toolbox-selector.js"></script>
<script src="{{ jsLocation }}/scripts/components/tabs.js"></script>
<script src="{{ jsLocation }}/scripts/plugin/expand-collapse.js"></script>
<script src="{{ jsLocation }}/scripts/modal/modal.js"></script>
<script src="{{ jsLocation }}/scripts/modal/popup.js"></script>
<script src="{{ jsLocation }}/scripts/modal/reset.js"></script>
