<div class="flex flex-col sm:flex-row items-center px-2 bg-black-light">
  <!-- KPI FOR LOOP-->
  {% for kpi in site.data.kpis.data %}
    <div class="flex flex-1 flex-col sm:flex-grow w-full m-2">
      <!-- TOP ROW-->
      <div class="flex flex-row items-center mt-2 mx-2 px-1 whitespace-no-wrap">
        <div class="flex-1 h8 text-grey">
          <span class="font-normal">{{kpi.icon}}</span> <span class="">{{kpi.title}}</span>
        </div>
        <div class="text-right h8 text-grey">
          <span class="text-red">{{kpi.risk}}</span><span>{{kpi.total}}</span>
        </div>
      </div>

      <!-- BOTTOM ROW-->
      <!-- I build the string here while I'm taking the red % from the data file-->
      {% assign backgroundStyle = "background: linear-gradient(to right, var(--color-red) "
        | append: {{kpi.red}}
        | append: ", var(--color-blue)); " %}

      <div class="flex-grow text-white">
        <div class="h-2 rounded-full m-2 mt-1" style="{{backgroundStyle}}">
        </div>
      </div>
    </div>
  {% endfor %}
</div>




<div class="c-tool-bar flex flex-col lg:flex-row items-stretch items-center pt-2 px-2 whitespace-no-wrap">

  <div class="flex flex-1 items-center p-2">
    <button class="btn btn--go btn--small-caps m-2"><span class="font-normal"></span> Add New Asset</button>
  </div>

  <div class="flex flex-col sm:flex-row items-start sm:items-center justify-end p-2">
    <div class="m-2">
      <span class="mr-2 text-sm text-grey uppercase">Sort By</span>
    </div>

    <div class="m-2">
      <div class="selector selector--singleselect selector--expanded JS_selector">
        <div class="selector__item JS_selectorItem">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--field">Date Added</div>
          </div>
        </div>
        <div class="selector__itemSeperator"></div>
        <div class="selector__item selector__item--selected JS_selectorItem">
          <div class="selector__block">
            <div class="selector__blockPart selector__blockPart--field">Risk Level</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<main class="relative clearfix p-2">

  <a href="#" class="c-item relative inline-block lg:w-1/4 m-4 pt-6 bg-white rounded-lg no-underline text-black">
    <div class="flex flex-row justify-end mb-2 mx-6 text-sm text-grey uppercase">
      <span> 3 Months ago</span>
      <span class="ml-2">12</span>
    </div>

    <div class="flex flex-col mx-6">
      <div class="mb-1 text-sm uppercase font-bold primary"><span class="font-normal"></span> SQL Server</div>
      <div class="mb-1 text-2xl font-bold">Human Resources</div>
      <div class="mb-2 text-grey"> Julie Beuselinck</div>
      <div class="my-2">
        <p>Tristique vitae augue eu, luctus condimentum dolor. Quis sem vulputate, viverra ipsum ut, suscipit risus.</p>
      </div>
      <div class="my-2">
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">HR</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">sql</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">personal-data</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">internal</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">company</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">sensitive</span>
      </div>
    </div>

    <div class="c-item__footer absolute pin-b pin-l w-full flex flex-row px-6 py-4 mt-4 border-t-2 border-dashed bg-white">
      <div class="flex w-1/2 flex-row items-center pr-4">
        <div class="font-bold pr-4">
          <span class="secondary text-3xl">5</span><span>/6</span>
        </div>
        <div class="text-sm font-bold uppercase">
          <span class="secondary inline-block">At risk</span><span>/personal attributes</span>
        </div>
      </div>
      <div class="flex w-1/2 flex-row items-center">
        <div class="font-bold pr-4">
          <span class="secondary text-3xl">1k</span><span>/5k</span>
        </div>
        <div class="text-sm font-bold uppercase">
          <span class="secondary inline-block">At risk</span><span>/records</span>
        </div>
      </div>
    </div>
  </a>

  <a href="#" class="c-item c-item--alert  relative inline-block lg:w-1/4 m-4 pt-6 bg-white rounded-lg no-underline text-black">
    <div class="flex flex-row justify-end mb-2 mx-6 text-sm text-grey uppercase">
      <span> Recently</span>
      <span class="ml-2">3</span>
    </div>

    <div class="flex flex-col mx-6">
      <div class="mb-1 text-sm uppercase font-bold primary"><span class="font-normal"></span> Folder</div>
      <div class="mb-1 text-2xl font-bold">Contracts</div>
      <div class="mb-2 text-grey"> Nick De Jaeger</div>
      <div class="my-2">
        <p>Tristique vitae augue eu, luctus condimentum dolor. Quis sem vulputate, viverra ipsum ut, suscipit risus.</p>
      </div>
      <div class="my-2">
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">documents</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">folder</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">personal-data</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">files</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">company</span>
        <span class="inline-block mr-1 mb-2 px-3 primary bg-grey-lighter rounded-full leading-normal">sensitive</span>
      </div>
    </div>

    <div class="c-item__footer absolute pin-b pin-l w-full flex flex-row px-6 py-4 mt-4 border-t-2 border-dashed bg-white">
      <div class="flex w-1/2 flex-row items-center pr-4">
        <div class="font-bold pr-4">
          <span class="secondary text-3xl">1</span><span>/24</span>
        </div>
        <div class="text-sm font-bold uppercase">
          <span class="secondary inline-block">At risk</span><span>/personal attributes</span>
        </div>
      </div>
      <div class="flex w-1/2 flex-row items-center">
        <div class="font-bold pr-4">
          <span class="secondary text-3xl">50+</span><span>/1k</span>
        </div>
        <div class="text-sm font-bold uppercase">
          <span class="secondary inline-block">At risk</span><span>/records</span>
        </div>
      </div>
    </div>
  </a>

</main>
