---
---


.c-tool-bar {
  position: relative;

  input {
  	border-radius: 9999px;
    padding: 0.325rem 1rem;
    font-size: 0.85rem;
    background-color: #999;
    min-height: 30px;
    transition: all .3s ease-in-out;

    &:focus {
      background-color: #FFF;
    }
  }
}
