---
---

.card-create {
  position: relative;
  display: inline-block;
  background-color: #1E1E1E;
  z-index: 50;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: left;
}

.selector-data-types--visible {
  .toolbox-overlay {
    z-index: 60;
  }
}
