---
---

.comment-field {
  margin-top: 0;
}
.comment-field__input {
  min-height: auto;
  border-radius: 100px;
}
.comment-field__input input, .comment-field__input textarea, .comment-field__input .textarea {
  height: 35px;
  padding: 5px 10px;
  min-height: 35px;
  border-radius: 100px;
}
.comments-separator span {
  background-color: #1e1e1e;
}
