---
---

.toolbox-comment-field {
  margin-top: 0;
}
.toolbox-comment-field__input {
  min-height: auto;
  border-radius: 100px;
}
.toolbox-comment-field__input input, .toolbox-comment-field__input textarea, .toolbox-comment-field__input .textarea {
  height: 35px;
  padding: 5px 10px;
  min-height: 35px;
  border-radius: 100px;
}
.toolbox-comments-separator span {
  background-color: #1e1e1e;
}
