<div class="c-item-details not-blurred inline-block float-left w-full my-4 bg-black-dark">
  <div class="flex flex-row justify-end px-6 py-4">
    <div class="primary inline-action p-2 px-4"></div>
    <div class="primary inline-action p-2 px-4"></div>
    <div class="primary inline-action p-2 px-4"></div>
    <div class="primary inline-action p-2 px-4"><sup>2</sup></div>
  </div>

  {% include javascript/c-item.html %}

  <div class="inline-block float-left w-full md:w-3/4 p-6 text-white">
    table
  </div>
</div>
