<div class="card-create JS_item-create not-blurred" style="display:none;">

  <div class="inline-block float-left w-full md:w-1/4 p-6 mt-8">
    <div class="relative inline-block pt-6 bg-white-darker rounded-lg no-underline text-black">
      <div class="flex flex-col mx-6">
        <div class="mb-2 text-sm uppercase font-bold primary"><span class="font-normal">${data['type-icon']}</span>${data['type-name']}</div>

        <div class="mb-2">
          <input class="w-full py-2 px-4 text-2xl font-bold rounded-full" value="" placeholder="Name">
        </div>

        <div class="field field--not-empty">
          <div class="field__label">Owned by</div>
          <div class="field__data">
            <div class="field__value">
              <div class="selector selector--singleselect selector--expanded selector--readonly ">
                <div class="selector__item JS_selectorItem--active selector__item--selected JS_selectorItem">
                  <div class="selector__block">
                    <div class="selector__blockPart selector__blockPart--field"> Nick De Jaeger</div>
                  </div>
                </div>
              </div>
              <input class="field__input" type="text" value="Not started">
            </div>
          </div>
        </div>

        <div class="field field--not-empty">
          <div class="field__label">Description</div>
          <div class="field__data">
            <div class="field__value">
              <div class="my-2 p-2 bg-white rounded-lg text-sm w-full whitespace-normal" contenteditable="true" placeholder="Description"></div>
            </div>
          </div>
        </div>

        <div class="field field--not-empty">
          <div class="field__label">Tags</div>
          <div class="field__data">
            <div class="field__value">
              <div class="my-2 p-2 bg-white rounded-lg text-sm w-full whitespace-normal JS_detailsTags" contenteditable="true" placeholder="Tags"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn--go btn--small-caps m-2 mt-4">Create new asset</button>
  </div>
</div>

</div>
<!-- /.card-create -->
