<div class="card-details JS_item-details not-blurred" style="display:none;">

  {% include javascript/card-editable.html %}

  <div class="inline-block float-left w-full md:w-3/4 p-6 pt-4 text-white">
    <div class="tabs tabs--invert">
      <div class="tabs-nav">
        <div class="flex flex-row justify-end px-6">
          <ul>
            <span class="tabs-nav__linkBar"></span>
            <li><a class="tabs-nav__link tabs-nav__link--active" tabindex="1">Table</a></li>
            <li><a class="tabs-nav__link" tabindex="2" style="">Graph</a></li>
          </ul>
          <div class="flex-grow"></div>
          <div class="primary inline-action p-2 px-4"></div>
          <div class="primary inline-action p-2 px-4"></div>
          <div class="primary inline-action p-2 px-4"></div>
          <div class="primary inline-action p-2 px-4"><sup>2</sup></div>
        </div>
      </div>
      <div class="tabs-panels">
        <div class="tabs-panels__panel" tabindex="1">
          <div class="text-white">
            table
          </div>
        </div>
        <div class="tabs-panels__panel" tabindex="2">
          {% include graph.html %}
        </div>
      </div>
    </div>
  </div>

</div><!-- /.card-details -->
