{% assign classes =  "relative inline-block pt-6 bg-white rounded-lg no-underline text-black cursor-pointer" %}

{% if include.cItem %}
  {% assign classes =  "card " | append: {{include.data.is-alert}} %}
{% endif %}

  <a class="{{classes}}">
    <header class="card__header">
      <span> {{include.data.time}}</span>
      <span class="ml-2">{{include.data.comments}}</span>
    </header>

    <div class="card__body">
      <div class="mb-1 text-sm uppercase font-bold primary"><span class="font-normal">{{include.data.type-icon}}</span>{{include.data.type-name}}</div>
      <div class="mb-1 text-2xl font-bold">{{include.data.name}}</div>
      <div class="mb-2 text-grey"> {{include.data.user}}</div>
      <div class="my-2">
        <p>{{include.data.description}}</p>
      </div>
      <div class="my-2">
        {% for tag in include.data.tags -%}
          <span class="tag primary">{{tag}}</span>
        {% endfor %}
      </div>
    </div>

    {% if include.showRisk %}
      <footer class="card__footer">
        <div class="card__stat relative flex w-1/2 flex-row items-center justify-center md:justify-start mr-1 overflow-hidden">
          <div class="font-bold pr-4">
            <span class="secondary text-3xl">{{include.data.risk-attributes}}</span><span>/{{include.data.total-attributes}}</span>
          </div>
          <div class="text-sm font-bold uppercase">
            <span class="secondary inline-block">At risk</span><span>/personal attributes</span>
          </div>
        </div>
        <div class="card__stat relative flex w-1/2 flex-row items-center justify-center md:justify-start mr-1 overflow-hidden">
          <div class="font-bold pr-4">
            <span class="secondary text-3xl">{{include.data.risk-records}}</span><span>/{{include.data.total-records}}</span>
          </div>
          <div class="text-sm font-bold uppercase">
            <span class="secondary inline-block">At risk</span><span>/records</span>
          </div>
        </div>
      </footer>
    {% endif %}
  </a>
