<div class="inline-block float-left w-full md:w-1/4 p-6">
    <a class="relative inline-block pt-6 bg-white rounded-lg no-underline text-black cursor-pointer">
      <div class="flex flex-row justify-end mb-2 mx-6 text-sm text-grey uppercase">
        <span> ${data['time']}</span>
        <span class="ml-2">${data['comments']}</span>
      </div>

      <div class="flex flex-col mx-6">
        <div class="mb-1 text-sm uppercase font-bold primary"><span class="font-normal">${data['type-icon']}</span>${data['type-name']}</div>
        <div class="mb-1 text-2xl font-bold">${data['name']}</div>
        <div class="mb-2 text-grey"> ${data['user']}</div>
        <div class="my-2">
          <p>${data['description']}</p>
        </div>
        <div class="my-2 JS_detailsTags">
        </div>
      </div>
    </a>
</div>
