<div class="p-6 mt-8">
  <div class="relative inline-block pt-6 bg-white-darker rounded-lg no-underline text-black">
    <div class="flex flex-col mx-6">
      <div class="mb-2 text-sm uppercase font-bold primary"><span class="font-normal">${data['type-icon']}</span>${data['type-name']}</div>

      <div class="mb-2">
        <input class="w-full py-2 px-4 text-2xl font-bold rounded-full" value="${data['name']}" placeholder="Name">
      </div>

      <div class="field field--not-empty">
        <div class="field__label">Owned by</div>
        <div class="field__data">
          <div class="field__value">
            {% include components/selector.html selectorData=",,, ${data['user']}" expanded="true" singleselect="true" selectedIndexes="1" readonly="true"%}
          </div>
        </div>
      </div>

      <div class="field field--not-empty">
        <div class="field__label">Description</div>
        <div class="field__data">
          <div class="field__value">
            <div class="my-2 p-2 bg-white rounded-lg text-sm w-full whitespace-normal" contenteditable="true" placeholder="Description">
              ${data['description']}</div>
          </div>
        </div>
      </div>

      <div class="field field--not-empty">
        <div class="field__label">Tags</div>
        <div class="field__data">
          <div class="field__value">
            <div class="my-2 p-2 bg-white rounded-lg text-sm w-full whitespace-normal JS_detailsTags" contenteditable="true" placeholder="Tags"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
