---
layout: default
---

{% include app-header.html %}

{% include app-kpi.html %}

{% include app-toolbar.html %}

<!-- <main class="items-platform blurred relative clearfix py-2">-->
<main class="items-platform relative clearfix py-2">
  {% include components/c-item.html %}
  {% include components/c-item.html notblurred=true %}
  {% include components/c-item.html %}
  {% include components/c-item.html %}
  {% include components/c-item.html %}
  {% include components/c-item.html %}
  {% include components/c-item.html %}
  {% include components/c-item.html %}
</main>
