---
layout: default
---

{% include app-header.html %}

{% include app-kpi.html %}

{% include app-toolbar.html %}

<!-- <main class="items-platform blurred relative clearfix py-2">-->
<main class="items-platform relative clearfix py-2 JS_c-list">

  {% for card in site.data.cards.data %}
    {% assign classes = "JS_c-item inline-block float-left md:w-1/2 lg:w-1/3 xl:w-1/4 p-6" %}
    <!-- if there is an attribute in the data or for the component, make it not blurrable -->
    {% if card.notblurred %}
      {% assign classes = "JS_c-item inline-block not-blurred float-left md:w-1/2 lg:w-1/3 xl:w-1/4 p-6" %}
    {% endif %}
    <div class="{{classes}}" data-index="{{forloop.index | minus: 1}}">
      {% include components/c-item.html data=card showRisk=true cItem=true %}
    </div>
  {% endfor %}
</main>
