<div class="toolbox-modal" id="toolbox-modal-filter">
  <div class="toolbox-table JS_optionsChildren">
    {% for item in site.data.filter.items %}
    <div class="toolbox-table__row">
      <ul class="toolbox-table__rowInner toolbox-table__rowInner--item JS_filterableCell">
        <li class="toolbox-table__cell">
          <div class="toolbox-table__cellInner">
            <div class="toolbox-table__value JS_text">{{item}}</div>
          </div>
        </li>
      </ul>
    </div>
    {% endfor %}
  </div>
  <!-- /.toolbox-table -->

</div>
<!-- /.toolbox-modal -->
